* {
    font-family: sans-serif;
}

html, body {
    padding: 5px;
    height: 100%; 
}

#popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

#board {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    font-size: 25px; 
    padding: 5px 15px;
    border-radius: 12px;
    background: white;
    border: lightcoral solid; 
}

#container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 960px;
    border: rgb(255, 55, 55), solid, 10px;
    border-radius: 10px;
 
}

.row {
    display:flex;
    align-items: center;
    justify-content: center;
}

.square {
    min-width: 50px;
    min-height: 50px; 
    background: lightgray;
    margin: 2px;
    border-radius: 5px;
}

.hover {
    background-color: black;
}